body {background-color: powderblue;}
h1 {color: blue;}
p {color: red; border: 1px solid yellow; margin-top: 5px;}
a:link {color: green; background-color: #f44336; text-decoration: none; padding: 15px 25px; text-align: center; display: inline-block;}
a:visited {color: pink; background-color:transparent; text-decoration: none;}
a:hover {color:red; background-color:transparent; text-decoration: underline}
a:active {color:yellow; background-color: transparent; text-decoration: underline;}